.preview {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.preview__scroll {
  overflow: auto;
  flex-grow: 1;
}

pre {
  background-color: #f5f5f5 !important;
  padding: 1em;
  border-radius: 5px;
}